---
title: Using Hazelcast for PCF
owner: Partners
---

This topic describes how developers use Hazelcast for Pivotal Cloud Foundry (PCF).

After your PCF operator installs the Hazelcast for PCF tile, it automatically registers itself to the marketplace. 

Follow these steps to create an instance of the Hazelcast service based on an available plan and bind it to your app. 
The plans available to you are determined by your PCF operator. 
For more information about configuring plans, see [Installing and Configuring Hazelcast for PCF](installing.html).

<a id="marketplace"></a>

1. To check availability of Hazelcast for PCF, enter the following command:

    ```
    $ cf marketplace
    ```
    For example, 

    <pre class="terminal">
$ cf marketplace 
Getting services from marketplace in org system / space system as admin... 
OK<br>
service         plans                            description 
app-autoscaler 	bronze, gold                     Scales bound applications in response to load (beta) 
hazelcast       t2.micro, t2.small, m3.medium    Hazelcast Service 
    </pre>

2. To create a cluster, enter the following command:
  
    ```
    $ cf create-service hazelcast PLAN SERVICE_INSTANCE_NAME
    ```
    For example, 
    <pre class="terminal">
$ cf create-service hazelcast t2.micro micro-cluster
Creating service instance micro-cluster in org system / space system as admin...
OK<br> 
Create in progress. Use 'cf services' or 'cf service micro-cluster' to check operation status. 
    </pre>

3. To bind the service to your app, enter the following commands:

    ```
    $ cf bind-service MY-APPLICATION SERVICE_INSTANCE_NAME
    $ cf restage MY-APPLICATION
    ```
    For example,
    <pre class="terminal">
$ cf bind-service myapp micro-cluster
$ cf restage myapp
    </pre>

4. Start using the Hazelcast in-memory data grid (IMDG).

