---
title: Using Hazelcast for PCF
owner: Partners
---

This topic describes how to use Hazelcast for PCF.

##<a id='using'></a> Using Hazelcast for PCF

After installing Hazelcast for PCF tile, it'll register itself to the marketplace automatically.
Use `cf marketplace` command to check availability of Hazelcast for PCF.

<%= image_tag("marketplace.png") %>

Create a cluster by using `cf create-service hazelcast [PLAN] [SERVICE_INSTANCE_NAME]` command.

<%= image_tag("cf_cs.png") %>

After creating the service, you can bind it to your app and start using Hazelcast IMDG.

```
$ cf bind-service my-application [SERVICE_INSTANCE_NAME]
$ cf restage my-application
```

