---
title: Using Hazelcast for PCF
owner: Partners
---

This topic describes how to use Hazelcast for PCF.

##<a id='using'></a> Use Hazelcast for PCF

After installing Hazelcast for PCF tile, it automatically registers itself to the marketplace.

1. To check availability of Hazelcast for PCF, enter the following command:

    ```
    $ cf marketplace
    ```
    For example, 
    <%= image_tag("marketplace.png") %>

2. To create a cluster, enter the following command:
  
    ```
    $ cf create-service hazelcast PLAN SERVICE_INSTANCE_NAME
    ```
    For example, 
    <%= image_tag("cf_cs.png") %>

3. Bind the service to your app.

    ```
    $ cf bind-service MY-APPLICATION [SERVICE_INSTANCE_NAME]
    $ cf restage MY-APPLICATION
    ```

4. Start using Hazelcast IMDG.

